* {
    box-sizing: border-box;
}

div#wrapper, footer{
    margin: auto;
    width: 1000px;
    background-color:rgb(245,245,220 ) ;
    padding: 20px;

}

body {
    font-family: SansSerif;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}